[Desktop Entry]
Name=Diskstatusicon
Exec=/usr/bin/diskstatusicon
Terminal=false
Type=Application
StartupNotify=false
NoDisplay=true
OnlyShowIn=UKUI;
X-UKUI-Autostart-Phase=Application
X-UKUI-Autostart-Notify=true
X-UKUI-AutoRestart=false
X-UKUI-Autostart-Delay=25
